
{% extends 'accounts/main.html' %}
  {% block content %}
<br>
    <div class="row">
      <div class="col-md">
        <div class="card card-body" style="background-color:#4cb4c7">
          <h5>Products</h5>
        </div>
        <br>
        <hr>
        <div class="card card-body">
          <table class="table">
            <tr>
              <th>Product</th>
              <th>Category</th>
              <th>Price</th>
            </tr>
            {% for i in product %}
            <tr>
              <td>{{i.name}}</td>
              <td>{{i.price}}</td>
              <td>{{i.category}}</td>
            </tr>
            {% endfor %}
          </table>

        </div>

      </div>

    </div>

  {% endblock %}
